.baseCell {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--darker-blue);
}

.redCell {
    composes: baseCell;
    background-color: var(--red);
}

.yellowCell {
    composes: baseCell;
    background-color: var(--yellow);
}

.whiteCell {
    composes: baseCell;
    background-color: white;
}
