.options {
    gap: 2em;
    display: flex;
    flex-direction: row;
}

.dimensionControl {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.label {
    gap: 0.5em;
    display: flex;
    flex-direction: row;
}

.cell {
    width: 10em;
    height: 10em;
    text-align: center;
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
}

/* Remove outer borders when toggle is active */
.table.removeBorders tr:first-child td {
    border-top-color: transparent;
}

.table.removeBorders tr:last-child td {
    border-bottom-color: transparent;
}

.table.removeBorders td:first-child {
    border-left-color: transparent;
}

.table.removeBorders td:last-child {
    border-right-color: transparent;
}
