.baseCell {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    border: 4px solid var(--darker-blue);
}

.redCell {
    composes: baseCell;
    background-color: rgb(238, 76, 76);
}

.yellowCell {
    composes: baseCell;
    background-color: yellow;
}

.whiteCell {
    composes: baseCell;
    background-color: white;
}
