:root {
    --red: #ff7f7f;
    --yellow: #fffd94;
    --blue: #1f8fff;
    --darker-blue: #1f79ff;
    --grey: #303030;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: column;
    background-color: black;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
}

h2 {
    margin: 0;
}

button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 0.75rem;
    font-weight: 600;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--grey);
}

button:hover {
    opacity: 0.9;
}

input {
    border: 1px solid transparent;
    color: white;
    background-color: var(--grey);
}

input:focus {
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.redText {
    color: var(--red);
}

.yellowText {
    color: var(--yellow);
}
