.navigationbar {
    gap: 1em;
    flex: 2;
    margin: 1em;
    padding: 1em;
    display: flex;
    font-size: smaller;
    border-radius: 0.5em;
    flex-direction: column;
    text-align: center;
    background-color: var(--darker-blue);
}
