.navigationbar {
    gap: 1em;
    flex: 2;
    margin: 1em;
    padding: 1em;
    display: flex;
    text-align: center;
    font-size: x-small;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darker-blue);
}

.copyright {
    margin-top: auto;
}
